<!DOCTYPE html>
<html>
  <head>
    <title>OvtoShow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <% if action_name == "presenter" %>
      <div><%= link_to "Log out", logout_path, method: :delete %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
